<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" >
    <title>FolkLorist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="icon" type="images/x-icon" href="../image/1011227.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../image/1011227.png" alt="Logo" style="width: 40px;">
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" href="web.html" id="home">Post
                </a>
                <a class="nav-link" href="#" id="about">About
                    <script>
                        document.getElementById("about").addEventListener("click", function() {
                          alert("Fitur ini belum tersedia");
                        });
                    </script>
                </a>
                <a class="nav-link" href="profile.html" id="profile">Profile
                </a>
              </div>
            </div>
          </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h1>Japanese Folklore Series</h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="content" class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h2>Susanoo no Mikoto: Dewa Badai dan Laut</h2>
                </div>
            </div>
            <div class="row">
                <div class="row d-flex flex-row bd-highlight mb-3" style="width: 75%;">
                    <article>
                        <h3>Asal Usul Dewa Susanoo no Mikoto</h3>
                        <p>Susanoo no Mikoto adalah salah satu dewa penting dalam mitologi Jepang. Ia adalah putra dari Izanagi, dewa pencipta, dan Izanami, dewi kehidupan dan kematian. Susanoo memiliki dua saudara, yaitu Amaterasu, dewi matahari, dan Tsukuyomi, dewa bulan.
                            Menurut kisah yang ditulis Kojiki, dia terlahir dari basuhan air hidung Izanagi ketika mensucikan diri sepulang dari neraka. Tetapi, menurut Nihongi, Susanoo terlahir berbarengan dengan ketika Izanami melahirkan dewa-dewi lainnya.Menurut kedua karya tersebut, Susanoo merupakan salah satu dari tiga dewa yang merupakan “Tiga Anak Terhormat” bersama dengan Amaterasu (dewi matahari) dan Tsukuyomi (dewa bulan). Susanoo terkenal akan kelakuannya yang destruktif dan penipu, oleh karena itulah ia dikenal sebagai pembohong ulung, tetapi dewasa ini dia juga dikenal sebagai dewa cinta dan perkawinan. Dalam seni lukis Jepang, susanoo terlihat dengan rambut panjang berombak menerjang angin, menghunus pedang dan bertarung melawan naga berkepala delapan. Terakhir, meskipun tabiatnya terkenal buruk, dia telah memberikan banyak manfaat bagi umat manusia seperti memberikan ilmu tentang agrikultura, dan pendiri dinasti di kawasan Izumo.
                        </p>
                    </article>
                    <article>
                        <h3>Kisah Dewa Susanoo Dalam Mitologi Jepang</h3>
                        <p>Kisah awal Susanoo no Mikoto tidak tanpa konflik. Ia terlibat dalam pertengkaran dengan saudaranya, Amaterasu, yang menyebabkan Amaterasu menyembunyikan diri di dalam gua, menjatuhkan kegelapan di dunia. Hal ini mengakibatkan dunia menjadi gelap dan tandus.

                            Salah satu peristiwa paling terkenal yang melibatkan Susanoo no Mikoto adalah ketika ia mengusir Orochi, seekor naga berkepala delapan, dari desa yang ditakuti oleh penduduk setempat. Dalam cerita ini, Susanoo menggunakan kecerdikan dan keberanian untuk mengalahkan naga tersebut.
                            
                            Selain itu, Susanoo no Mikoto juga dikenal sebagai dewa yang mengendalikan laut dan badai. Ia memiliki pengaruh besar dalam memahami fenomena alam seperti badai laut yang sering terjadi di wilayah Jepang.
                            
                            Dewa ini memiliki peran yang kompleks dalam mitologi Jepang, dengan sifat baik dan buruknya. Namun, Susanoo no Mikoto tetap menjadi salah satu dewa yang paling penting dalam mitologi Jepang, dan ceritanya telah diwariskan dari generasi ke generasi sebagai bagian dari warisan budaya Jepang.</p>
                    </article>
                </div>
                    <aside class="d-flex flex-row-reverse" style="width: 25%; padding-bottom: 5%;">
                        <style>
                            img {
                                max-width: 100%;
                            }
                        </style>
                        <img src="../image/Kuniteru_Gozu_dragon.jpg" class="rounded container-fluidp" alt="susanoo" loading="lazy">
                    </aside>
                </div>
            </div>
        </div>
        <footer class="footer mt-auto py-3 bg-dark text-center"  >
            <div class="container" >
              <span class="text-light" style="position: sticky;">
                <p>&copy; 2023 Ryritchy</p>
              </span>
            </div>
          </footer>
    </main>
</body>
</html>